<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>checkout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
	<script src="js/change_class_name.js"></script>
</head>
<body>
<div class="container">
	<header class="header">
		<div class="stretchable-wrapper stretchable-wrapper_header-top">
			<div class="content-wrapper content-wrapper_header-top-wrapper">
				<a href="index.html" class="logo">
					<div class="logo__text-block">
						bran<b class="logo__last-letter">d</b>
					</div>
				</a>
				<div class="header__search-block">
					<a href="#" class="search-button"></a>
					<div class="header__drop-input-block">
						<input class="search-input" placeholder="Search for items...">
						<ul class="drop-menu-browse header__drop-menu-browse">
							<li class="drop-menu-browse__item">
								<a href="#" class="drop-menu-browse__item-link">browse</a>
								<ul class="drop-menu-browse__sub-menu header-sub-menu">
									<li class="header-sub-menu__item-heading">Women</li>
									<li><a href="#" class="header-sub-menu__item-link">Dresses</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Tops</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Sweaters/Knits</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Jackets/Coats</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Blazers</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Denim</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Leggings/Pants</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Skirts/Shorts</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Accessories</a></li>
									<li class="header-sub-menu__item-heading">men</li>
									<li><a href="#" class="header-sub-menu__item-link">Tees/Tank tops</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Shirts/Polos</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Sweaters</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Sweatshirts/Hoodies</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Blazers</a></li>
									<li><a href="#" class="header-sub-menu__item-link">Jackets/vests</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<ul class="header__cart">
					<li class="drop-menu-cart__item">
						<a href="#" class="drop-menu-cart__item-link"></a>
						<ul class="drop-menu-cart__sub-menu cart-sub-menu">
							<li class="cart-sub-menu__item">
								<div class="cart-sub-menu__item-product cart-product">
									<img src="img/Cart_product_1.jpg" alt="" class="cart-product__product-img">
									<div class="cart-product__inner-wrapper">
										<div class="cart-product__product-name">rebox zane</div>
										<div class="cart-product__rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<div class="cart-product__quantity-x-price">1 x 250$</div>
									</div>
									<a href="" class="cart-product__delete-from-cart" onclick="return false">
										<i class="fa fa-times-circle fa" aria-hidden="true"></i>
									</a>
								</div>
							</li>
							<li class="cart-sub-menu__item cart-sub-menu__item_product">
								<div class="cart-product">
									<img src="img/Cart_product_2.jpg" alt="" class="cart-product__product-img">
									<div class="cart-product__inner-wrapper">
										<div class="cart-product__product-name">rebox zane</div>
										<div class="cart-product__rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
										<div class="cart-product__quantity-x-price">1 x 250$</div>
									</div>
									<a href="" class="cart-product__delete-from-cart" onclick="return false">
										<i class="fa fa-times-circle fa" aria-hidden="true"></i>
									</a>
								</div>
							</li>
							<li class="cart-sub-menu__item cart-sub-menu__item_total-price">
								<p class="cart-sub-menu__total">total</p><p class="cart-sub-menu__price">500$</p>
							</li>
							<li class="cart-sub-menu__item cart-sub-menu__item_button">
								<a href="Сheckout.html" class="button button_sub-menu-cart">checkout</a>
							</li>
							<li class="cart-sub-menu__item cart-sub-menu__item_button">
								<a href="Shopping_cart.html" class="button button_sub-menu-cart">go to cart</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="drop-menu-account header__drop-menu-account">
					<li class="drop-menu-account__item">
						<a href="#" class="drop-menu-account__item-link">
							ma account
							<b class="drop-menu-account__drop-down-arrow">▼</b>
						</a>
						<ul class="drop-menu-account__sub-menu header-sub-menu">
							<li class="header-sub-menu__item-heading">Account</li>
							<li><a href="#" class="header-sub-menu__item-link">item 1</a></li>
							<li><a href="#" class="header-sub-menu__item-link">item 2</a></li>
							<li><a href="#" class="header-sub-menu__item-link">item 3</a></li>
							<li><a href="#" class="header-sub-menu__item-link">item 4</a></li>
							<li><a href="#" class="header-sub-menu__item-link">item 5</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<a href="#" class="main-menu__main-button">&#9776;</a>
		<nav class="main-menu">
			<ul class="main-menu__ul">
				<li class="main-menu__item">
					<a href="index.html" class="main-menu__item-link">home</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">man</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">men</li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Tees/Tank tops</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Shirts/Polos</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Sweaters</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Sweatshirts/Hoodies</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Blazers</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Jackets/vests</a></li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">women</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">Women</li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Dresses</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Tops</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Sweaters/Knits</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Jackets/Coats</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Blazers</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Denim</a></li>
						<li></li><a href="#" class="header-sub-menu__item-link">Leggings/Pants</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Skirts/Shorts</a></li>
						<li><a href="Product.html" class="header-sub-menu__item-link">Accessories</a></li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">Kids</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">kids</li>
						<li><a href="#" class="header-sub-menu__item-link">Tees/Tank tops</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Shirts/Polos</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweaters</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweatshirts/Hoodies</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Blazers</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Jackets/vests</a></li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">accesoriese</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">Women</li>
						<li> <a href="#" class="header-sub-menu__item-link">Dresses</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Tops</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweaters/Knits</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Jackets/Coats</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Blazers</a></li>
						<li class="header-sub-menu__item-heading">men</li>
						<li><a href="#" class="header-sub-menu__item-link">Tees/Tank tops</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Shirts/Polos</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweaters</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweatshirts/Hoodies</a></li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">featured</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">section is empty</li>
						<li><a href="#" class="header-sub-menu__item-link"></a></li>
						<li><a href="#" class="header-sub-menu__item-link"></a></li>
						<li><a href="#" class="header-sub-menu__item-link"></a></li>
						<li><a href="#" class="header-sub-menu__item-link"></a></li>
						<li><a href="#" class="header-sub-menu__item-link"></a></li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__item-link">hot deals</a>
					<ul class="main-menu__sub-menu header-sub-menu">
						<li class="header-sub-menu__item-heading">Women</li>
						<li><a href="#" class="header-sub-menu__item-link">Dresses</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Tops</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Sweaters/Knits</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Jackets/Coats</a></li>
						<li><a href="#" class="header-sub-menu__item-link">Blazers</a></li>
						<li>
							<a href="#" class="header-sub-menu__item-link-img header-sub-menu__item-link-img_super-sale"></a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<main class="main" onclick="hideDropedElement();">
		<div class="stretchable-wrapper stretchable-wrapper_new-arrivals">
			<div class="content-wrapper">
				<div class="new-arrivals">
					<h1 class="new-arrivals__page-heading">new arrivals</h1>
					<nav class="new-arrivals-menu">
						<a href="#" class="new-arrivals-menu__item">home</a>
						<a href="#" class="new-arrivals-menu__item">men</a>
						<a href="#" class="new-arrivals-menu__item">new arrivals</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<section class="c-checkout-menu">
			<ul class="l-drop-menu-js">
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName ('checkoutShippingForm', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_shipping-form');">
						Shipping Adress
					</a>
					<div id="checkoutShippingForm" class="l-drop-menu-js__sub-menu_invisible">
						<form action="" class="checkout-form">
							<fieldset class="check-as-fieldset">
								<legend class="check-as-fieldset__legend">
									<p class="checkout-form__uppercase-line">Check as a guest or register</p>
									<p class="checkout-form__lowercase-line">Register with us for future convenience</p>
								</legend>
								<label class="checkout-form__input-label checkout-form__input-label_radio-wrapper">
									<input name="check" type="radio" class="check-as-fieldset__radio" checked/>
									checkout as guest
								</label>
								<label class="checkout-form__input-label checkout-form__input-label_radio-wrapper checkout-form__input-label_radio-wrapper-register">
									<input name="check" type="radio" class="check-as-fieldset__radio"/>
									register
								</label>
								<p class="checkout-form__uppercase-line">register and save time!</p>
								<p class="checkout-form__lowercase-line">Register with us for future convenience</p>
								<a href="#" class="check-as-fieldset__detailed-info" onclick="return false">>> Fast and easy checkout</a>
								<a href="#" class="check-as-fieldset__detailed-info" onclick="return false">>> Easy access to your order history and status</a>
								<a href="#" class="button button_checkout-dropped" onclick="return false">continue</a>
							</fieldset>
							<fieldset class="fieldset-for-registed">
								<legend class="fieldset-for-registed__legend">
									<p class="checkout-form__uppercase-line">Already registed?</p>
									<p class="checkout-form__lowercase-line">Please log in below</p>
								</legend>
								<p class="checkout-form__input-label">EMAIL ADDRESS</p>
								<input type="email" class="fieldset-for-registed__input-mail" title="Enter your e-mail">
								<p class="checkout-form__input-label">PASSWORD</p>
								<input type="password" class="fieldset-for-registed__input-password" title="Enter your password">
								<p class="checkout-form__required-fileds">* Required Fileds</p>
								<a href="#" class="button button_checkout-dropped" onclick="return false">Forgot Password ?</a>
							</fieldset>
						</form>
					</div>
				</li>
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName('checkoutBillingInfo', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_billing-info');">
						BILLING INFORMATION
					</a>
					<div id="checkoutBillingInfo" class="l-drop-menu-js__sub-menu_invisible">
						BILLING INFORMATION
					</div>
				</li>
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName ('checkoutShippingInfo', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_shipping-info')">
						SHIPPING INFORMATION
					</a>
					<div id="checkoutShippingInfo" class="l-drop-menu-js__sub-menu_invisible">
						SHIPPING INFORMATION
					</div>
				</li>
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName ('checkoutShippingMethod', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_shipping-method')">
						SHIPPING METHOD
					</a>
					<div id="checkoutShippingMethod" class="l-drop-menu-js__sub-menu_invisible">
						SHIPPING METHOD
					</div>
				</li>
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName ('checkoutPaymentMethod', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_payment-method')">
						PAYMENT METHOD
					</a>
					<div id="checkoutPaymentMethod" class="l-drop-menu-js__sub-menu_invisible">
						PAYMENT METHOD
					</div>
				</li>
				<li class="l-drop-menu-js__item" onclick="event.stopPropagation();">
					<a href="javascript:void(0);" class="c-checkout-menu__item-link" onclick="hideDropedElement(); changeClassName ('checkoutOrderReview', 'c-checkout-menu__sub-menu c-checkout-menu__sub-menu_order-review')">
						ORDER REVIEW
					</a>
					<div id="checkoutOrderReview" class="l-drop-menu-js__sub-menu_invisible">
						ORDER REVIEW
					</div>
				</li>
			</ul>
		</section>
		</div>
	</main>
	<footer class="footer">
		<div class="content-wrapper footer-top-block">
			<div class="footer-top-block__face-positioning-block">
				<p class="footer-top-block__paragraph">“Vestibulum quis porttitor dui!
					Quisque viverra nunc mi, a pulvinar purus condimentum a.
					Aliquam condimentum mattis neque sed pretium”</p>
				<p class="footer-top-block__person-name">
					Bin Burhan<br>
					Dhaka, Bd
				</p>
				<div class="footer-top-block__bottom-markers">
					<a href="#" class="footer-top-block__marker" onclick="return false"></a>
					<a href="#" class="footer-top-block__marker" onclick="return false"></a>
					<a href="#" class="footer-top-block__marker" onclick="return false"></a>
				</div>
			</div>
			<div class="footer-top-block__subscribe-positioning-block">
				<p class="footer-top-block__subscribe">SUBSCRIBE<br>
					FOR OUR NEWLETTER AND PROMOTION</p>
				<div class="footer-top-block__input-block">
					<input class="input-fild input-fild_subscribe" type="email" placeholder="Enter Your Email">
					<a href="#" class="input-button input-button_red input-button_subscribe" onclick="return false">subscribe</a>
				</div>
			</div>
		</div>
		<div class="stretchable-wrapper stretchable-wrapper_footer-middle-block">
			<section class="content-wrapper content-wrapper__footer-middle-block">
				<div class="footer-brand-info">
					<a href="index.html" class="logo">
						<div class="logo__text-block">
							bran<b class="logo__last-letter">d</b>
						</div>
					</a>
					<p class="footer-brand-info__paragraph">Objectively transition extensive data rather than cross functional solutions.
						Monotonectally syndicate multidisciplinary materials before go forward benefits.
						Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
					<p class="footer-brand-info__paragraph">Efficiently plagiarize 24/365 action items and focused infomediaries.Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
				</div>
				<nav class="footer-menu footer-menu_company">
					<h3 class="footer-menu__heading">company</h3>
					<a href="#" class="footer-menu__item" onclick="return false">home</a>
					<a href="#" class="footer-menu__item" onclick="return false">shop</a>
					<a href="#" class="footer-menu__item" onclick="return false">about</a>
					<a href="#" class="footer-menu__item" onclick="return false">how it works</a>
					<a href="#" class="footer-menu__item" onclick="return false">contacts</a>
				</nav>
				<nav class="footer-menu footer-menu_information">
					<h3 class="footer-menu__heading">information</h3>
					<a href="#" class="footer-menu__item" onclick="return false">Tearms & Condition </a>
					<a href="#" class="footer-menu__item" onclick="return false">Privacy Policy</a>
					<a href="#" class="footer-menu__item" onclick="return false">How to Buy</a>
					<a href="#" class="footer-menu__item" onclick="return false">How to Sell</a>
					<a href="#" class="footer-menu__item" onclick="return false">Promot</a>
				</nav>
				<nav class="footer-menu footer-menu_shop-category">
					<h3 class="footer-menu__heading">shop category</h3>
					<a href="#" class="footer-menu__item" onclick="return false">Men</a>
					<a href="#" class="footer-menu__item" onclick="return false">Women</a>
					<a href="#" class="footer-menu__item" onclick="return false">Child </a>
					<a href="#" class="footer-menu__item" onclick="return false">Apparel</a>
					<a href="#" class="footer-menu__item" onclick="return false">Brows All </a>
				</nav>
			</section>
		</div>
		<div class="stretchable-wrapper stretchable-wrapper_copyright">
			<div class="content-wrapper content-wrapper__copyright">
				<div class="copyright">
					&copy; 2017 Brand all rights reserved
				</div>
				<div class="cocial-icons">
					<div class="cocial-icons__item">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
					<div class="cocial-icons__item">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</div>
					<div class="cocial-icons__item">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</div>
					<div class="cocial-icons__item">
						<i class="fa fa-pinterest-p" aria-hidden="true"></i>
					</div>
					<div class="cocial-icons__item">
						<i class="fa fa-google-plus" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>